<html>
  {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <h1> Index page</h1>
  <div>
      <table class="table">
        <thead>
            <td>INDEX</td>
            <td>TITLE</td>
        </thead>
      <tbody>
      {% csrf_token %}
        {% for list_index in list %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ list_index.title }}</td>
            <td><a href="/testcase/{{ list_index.id }}" class="btn btn-default" role="button">Show Detail</a></td>
            <td><button class="btn btn-primary">SELECT</button></td>
            </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
</html>
