<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1> Index page</h1>
      <div>
      <table class="table">
        <thead>
            <td>INDEX</td>
        </thead>
      <tbody>
      {% csrf_token %}
        {% for list_index in list %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ list_index.title }}</td>
            </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
</body>
</html>