<!DOCTYPE html>

<body>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    <div class="runner_info">
    <h1>Test Runner List</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Index</td>
                <td>IP</td>
                <td>Port</td>
                <td>Connection Status</td>
                <td>OS</td>
                <td>Version</td>
                <td>Release</td>
            </tr>
        </thead>
        {% for runners in runners_data %}
            {% if runners.status == "Failed" %}
                <tr class="danger">
            {% else %}
                <tr>
            {%  endif %}

                <td>{{ forloop.counter }}</td>
                <td>{{ runners.ip }}</td>
                <td>{{ runners.port }}</td>
                <td>{{ runners.status }}</td>
                <td>{{ runners.info.system }}</td>
                <td>{{ runners.info.version }}</td>
                <td>{{ runners.info.release }}</td>
            </tr>
         {%  endfor %}
    </table>
    </div>
</body>
</html>
